{% extends "web/base.html" %}

{% block content %}
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card p-4">
      <div class="card-body">
        <h3 class="mb-3">{{ form_title }}</h3>
        <form method="post">
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" class="bi flex-shrink-0 me-2" width="16px" aria-label="Danger:" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              <div>
                {{ error }}
              </div>
            </div>
          {% endfor %}
          {% csrf_token %}
          {% for field in form %}
            <div class="{% if field.field.widget.input_type == "checkbox" %}form-check {% else %}form-floating {% endif %}mb-3">
              {{ field }}
              {{ field.label_tag }}
              {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
              {% endif %}
              {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          {% endfor %}
          <button class="btn btn-primary w-100 text-left" type="submit">{{ submit_button_text }}</button>
        </form>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
{% endblock content %}